extends layout

block styles

    link(rel='stylesheet', href='/stylesheets/todos.css')

block content

  #glossapp

block bodyscripts

  script#defin-template(type="text/template").
    <div class="view">
      <div><%= term %></div>
    </div>

  script(type="text/javascript", src="javascripts/glossedit.js")
