/**
 * This Stylus file will be compiled to todos.css automatically by node when
 * the server is started and a todos.css file doesn't exist.  To regenerate
 * todos.css, simply delete the file and reload the app in a browser window.
 *
 * To see how the css file is generated look at app.js.
 */

@import "_mixins.styl";

// ----------------------------------------------------------------------------
// Styles
// ----------------------------------------------------------------------------

html, body
  margin 0
  padding 0

body
  font 16px "Helvetica Neue", Helvetica, Arial, sans-serif
  line-height 1.4em
  background #fff
  color #333333
  width 520px
  margin 0 auto
  -webkit-font-smoothing antialiased
a
 text-decoration none

#defin-list>div
	padding 5px
	border-bottom:solid 1px #ddd
.logo
	width 100%
	text-align center
	margin 20px
.destroy
	float right

.show
	float right

.confirm
	float right

.type
	color #999
.def
	width 400px
	height 100px
input, textarea
	font-size 16px
footer
	margin 7px 7px 20px
	text-align center