/**
 * This Stylus file will be compiled to todos.css automatically by node when
 * the server is started and a todos.css file doesn't exist.  To regenerate
 * todos.css, simply delete the file and reload the app in a browser window.
 *
 * To see how the css file is generated look at app.js.
 */
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #eee;
  color: #333;
  width: 520px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}
